__pycache__/
*.pyc
debug_*.png
scrcpy_*.png
current_*.png
live_screen.png
popup_screen.png
real_popup.png
test_screen.png
window_dump.xml
debug_run.log
monkey_drag.txt
*last_click.png
*solve.png
*fw_live.png
*popup_live.png
*nhan_job_fw.png
*fw_home.png
*fw_zone.png
*live_profile_buttons.png
*left_button_crop.png
*target_button_crop.png
*crop_text.png
*crop_like.png
*checkbox_zone.png
*num_crop.png
*largest_card.png
*white_card.png
*test_da_hieu.png
*test_dong_y.png
*crop1.png
*crop2.png
*debug_target_button_crop.png
*debug_cropped_blue.png
*debug_cropped_da_hieu.png
*debug_live_popup_region.png
*debug_checkbox_zone.png
*debug_left_button_crop.png
*debug_num_crop.png
*debug_popup_crop.png
*debug_crop_text.png
*debug_largest_card.png
*debug_white_card.png
